{% extends 'base.html' %}

<!--  -->
{% block content %}
<!--  -->
<div class="row justify-content-center mt-4">
  <!-- trending site -->
  <div class="col-12 col-lg-12 bg-warning p-4 shadow-sm">
    {% if trend %}
    <small><b> Site of the day:</b></small>
    <h2 class="text-center">Trending site comes here</h2>
    <p>{{trend}}</p>
    {% else %}
    <h2 class="text-center">
      Welcome to awards, Unleash your creative side to the world
    </h2>
    {% endif %}
  </div>
  <!-- trending site end -->

  {% for project in projects %}
  <div class="col-12 col-lg-6 col-md-8 col-sm-12 mt-3">
    <div class="card mb-3">
      <div class="card-header">
        <a href="{% url 'awards:project' project.id %}">
          <h3 class="text-center">{{project.name}}</h3>
        </a>
      </div>

      <div class="project-card position-relative">
        <img src="{{project.image_file.url}}" alt="" class="card-img-top" />
        <div class="project-body d-none">
          <p class="none">{{project.description}}</p>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
